<div id="content">
    <article class="article-first">
        <h4>Halo, perkenalkan saya</h4>
        <img src="../images/f_bio_2x.png" alt="foto-profil" class="article-first-image" hide-tablet hide-desktop>
        <h2>Muhammad <span>Ali<br>Pratama</span> Putra</h2>
        <p>Saya seorang mahasiswa dari <strong>Universitas Teknologi
            Yogyakarta</strong> Fakultas Sains & Teknologi Prodi <strong>Informatika</strong>
            angkatan 2022. Saya adalah orang yang semangat belajar
            dan <strong>senang berkarya melalui teknologi</strong>.
        </p>
    </article>
    <aside hide-mobile>
        <img src="../images/f_bio_3x.png" alt="foto-profil" class="article-first-image">
    </aside>
</div>
<div id="skill">
    <article class="article-second">
        <h2>Kemampuan</h2>
        <div class="skill-container">
            <div>
                <div>
                    <div>
                        <div class="progress-icon-1"></div>
                        <label>HTML</label>
                    </div>
                    <span>90%</span>
                </div>
                <progress value="90" max="100"></progress>
            </div>
            <div>
                <div>
                    <div>
                        <div class="progress-icon-2"></div>
                        <label>CSS</label>
                    </div>
                    <span>92%</span>
                </div>
                <progress value="92" max="100"></progress>
            </div>
            <div>
                <div>
                    <div>
                        <div class="progress-icon-3"></div>
                        <label>Javascript</label>
                    </div>
                    <span>80%</span>
                </div>
                <progress value="80" max="100"></progress>
            </div>
            <div>
                <div>
                    <div>
                        <div class="progress-icon-4"></div>
                        <label>Python</label>
                    </div>
                    <span>75%</span>
                </div>
                <progress value="75" max="100"></progress>
            </div>
            <div>
                <div>
                    <div>
                        <div class="progress-icon-5"></div>
                        <label>mySQL</label>
                    </div>
                    <span>40%</span>
                </div>
                <progress value="40" max="100"></progress>
            </div>
        </div>
    </article>
</div>