<nav id="nav-mobile">
    <ul>
        <li id="logo" onclick="keBeranda()"><span>Alie</span> Pratama.</li>
        <li hide-desktop>
            <div class="button-round-menu" onclick="toogleDropdown()">
                <img src="../images/i_menu.png" alt="icon-menu" class="icon-menu">
            </div>
        </li>
        <li onclick="keAtas()" hide-mobile hide-tablet>Beranda</li>
        <li onclick="keSkill()" hide-mobile hide-tablet>Kemampuan</li>
        <li onclick="keKontak()" hide-mobile hide-tablet>Kontak</li>
    </ul>
</nav>